<html>
  <head>
  	{% block head %}
  	<title>Single Page app with NPR API</title>
  	{% endblock head %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/tweet_stream.js') }}"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>

  <body>
  	{% block content %}
  	<div id="content">
  	Content
  	</div>
  	{% endblock content %}
  </body>

</html>